html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

button {
  background: #fff;
  border: none;
}

.hidden {
  display: none;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
}

.chart_title {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.chart {
  flex: 8;
  display: flex;
  flex-direction: column;
  background: #eee;
}

h1 {
  margin: 0;
  padding: 30px;
  background: #fff;
}

.chart_view {
  margin: 16px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0 0 0 / 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chart_header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.chart_type {
  display: flex;
  flex-grow: 0;
}

.chart_type_btn {
  cursor: pointer;
  font-size: 12px;
  min-width: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #fff;
  padding: 5px 8px 2px;
  color: #6d859e;
  border: 1px solid #dfe5ea;
  border-right-color: #fff;
}

.chart_type_btn:last-child {
  border-right: 1px solid #dfe5ea;
}

.chart_type_btn:hover {
  color: #00bf8a;
  border-color: #00bf8a;
}

.chart_type_btn:active,
.chart_type_btn.active {
  background: #00bf8a;
  color: #fff;
  border-color: #00bf8a;
}

#chartBox {
  flex: 1;
  margin: 0 10px;
}

.options {
  flex: 4;
  min-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options .options_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.options_box .conditions_title {
  display: flex;
  justify-content: space-between;
}

.options_box .conditions {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#searchBtn {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 16px;
  color: #fff;
  font-size: 15px;
  background-color: #2dca93;
  border: 1px solid #2dca93;
}

.conditions_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 5px;
}

.conditions_item:hover {
  background: #f0f6fc;
}

.conditions_item input {
  text-align: center;
  width: 10px;
  background: #fff;
  border: none;
  outline: none;
}

.conditions_item input:focus-visible {
  outline: none;
}

.conditions_item svg {
  display: none;
}

.conditions_item:hover svg {
  display: initial;
}

.conditions_item button.topic,
.conditions_item input,
.conditions_item span,
.conditions_item div,
.conditions_item svg {
  color: #555;
  margin-right: 6px;
  vertical-align: middle;
}

.conditions_item svg {
  cursor: pointer;
}

.conditions_item .text {
  padding: 4px;
}

.operation_item {
  display: flex;
}

.conditions_item .operation_item button {
  position: relative;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  padding: 0 6px;
  background: #e5f0ec;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #137d74;
  border: 1px solid #deeffa;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.options ::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.options ::-webkit-scrollbar-track {
  background-color: #fff;
}

.options ::-webkit-scrollbar-thumb {
  background-color: rgb(16, 185, 129);
  border-radius: 6px;
}

.options ::-webkit-scrollbar-button:start,
.options ::-webkit-scrollbar-button:end {
  display: none;
}
