html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  background: #ecf3f8;
}

.signage_menu {
  width: 200px;
  margin-right: 10px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0 0 0 / 20%);
}

.signage_container {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.grid_container {
  flex: 1;
}

.grid-stack-item-content {
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.grid-stack-item-content:hover {
  box-shadow: 0 1px 4px rgba(0 0 0 / 20%);
}

.grid-stack-item-content .head {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

.grid-stack-item-content .head h3 {
  font-size: 17px;
}

.grid-stack-item-content .head_handle {
  display: flex;
  align-items: center;
}

.grid-stack-item-content .head_handle button {
  color: #979dad;
  cursor: pointer;
  margin-right: 4px;
}

.grid-stack-item-content .head_handle button svg:hover {
  color: #4078e9;
}

.grid-stack-item-content .date {
  margin: 0 8px 4px 8px;
}

.grid-stack-item-content .draw {
  margin: 0 8px;
  flex: 1;
}
