.model_layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: 10;
}

.radio_box {
  width: 232px;
  height: 342px;
  padding: 4px;
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 24px;
  z-index: 99;
}

.radio_search {
  display: flex;
}

.search_input {
  border: 1px solid #ddd;
  line-height: 25px;
  margin: 4px;
  outline: none;
  flex: 1;
}

.radio_type {
  margin: 0 4px;
  display: flex;
}

.radio_type button {
  flex: 1;
  background: #fff;
  border: none;
  border-right: 1px solid #ddd;
  padding: 3px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.radio_type button.active {
  color: #00bf8a;
}

.radio_type button:last-child {
  border-right: none;
}

.radio_type button:focus-visible {
  border: 1px solid #00bf8a;
  outline: none;
}

.radio_list {
  display: flex;
  flex-direction: column;
  margin: 4px;
  overflow: auto;
  border-top: 1px solid #ddd;
}

.radio_item {
  padding: 2px 0;
  cursor: pointer;
}

.radio_item:hover {
  background: #eee;
}

.radio_box ::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.radio_box ::-webkit-scrollbar-track {
  background-color: #fff;
}

.radio_box ::-webkit-scrollbar-thumb {
  background-color: rgb(16, 185, 129);
  border-radius: 6px;
}

.radio_box ::-webkit-scrollbar-button:start,
.radio_box ::-webkit-scrollbar-button:end {
  display: none;
}
